<!DOCTYPE html>
<html>
  {{> head }}
  <body class="grid_body">

    {{> header}}

    {{#if user}}
      <div class="center-wrapper">
        <p>Hi {{user.nickname}}</p>
        <a href="/logout">
          <button class="button">Log Out</button>
        </a>
      </div>
    {{else}}
      <div class="center-wrapper">
        <div id="art"></div>
        <div class="tagline">
          <h1>make good choices.</h1>
        </div>
        <a href="/login">
          <button class="button">Sign Up / Log In</button>
        </a>
      </div>
    {{/if}}

  </body>
</html>
