* {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
}

body {
  margin: 30px;
}

.center_wrapper {
  text-align: center;
}

.button {
  background-color: #000000;
  color: #ffffff;
  font-family: monospace;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 4px;
}
